/* Styling goes here */
html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
    color: #0000ee;
    text-decoration: none;
}
a:hover {
    color: black;
}
input::-webkit-input-placeholder {
    color: black !important;
}

input::-moz-placeholder {
    color: black !important;
}

input:-ms-input-placeholder {
    color: black !important;
}
.container {
    max-width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 10px;
}
.detail-container {
    max-width: 80%;
    margin: auto;
    background-color: white;
    display: flex;
    justify-content: center;
}
.filter-container {
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap; 
}
.nav-wrapper {
    display: flex;
    justify-content: space-between;
}
.nav-item {
    color: white;
    padding: 0.5rem;
}
.nav-item:hover {
    color: lightskyblue;
}
.home {
    font-size: 3rem;
}
.card {
    width: 210px;
    border: 1px solid lightgrey;
    padding: 20px;
    text-align: center;
    background-color: #ffffff;
    display: flex;
    vertical-align: text-bottom;
    transition: all 0.32s ease-in-out;
}
.card:hover {
    box-shadow: 0 0 6px black;
    transform: scale(1.08);
    color: #f44336;
}
.hover-container {
    width: 230px;
    padding: 15px;
}
.card img {
    max-width: 100%;
}
.info-card {
    width: 210px;
    border: 1px solid black;
    border-radius: 2px;
    padding: 20px;
    background-color: lightgrey;
}
.card-title {
    font-size: 2rem;
}
.card-details {
    font-size: 1.5rem;
}
.evolution-chart {
    display: flex;
    margin: 3px;
}
.background-blue {
    background-color: #90caf9;
}
.background-red {
    background-color: #f44336;
    border-radius: 3px;
}
.back-button {
    color: white;
    font-size: 1.75rem;
}
.back-div {
    max-width: 100%;
    margin: 5px;
}
