{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="shortcut icon" href="https://img.icons8.com/color/48/000000/pokedex.png" type="image/x-icon">
    <title>{% block title %}Pokedex{% endblock title %} </title>
</head>

<body class="background-blue">
    <nav class="background-red">
        <div class="nav-wrapper">
            <a href="/pokedex" class="brand-logo">Home</a>
            <ul class="right">
                <li>
                    <a href="/pokedex/search">Search</a>
                </li>
                <li>
                    <a href="/pokedex/filter">Filter</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <h1 class="center-align">Welcome to the Pokédex!</h1>
        <p class="flow-text">The description entries are based off of my preference of the Pokemon's debut game unless
            it is exclusive to one title!</p>
    </div>
    {% block content %}
    {% endblock %}
</body>
<!-- <a href="https://icons8.com/icon/16460/pokedex">Pokedex icon by Icons8</a> -->

</html>
