<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pokedex</title>
</head>

<body>
    {% extends 'base.html' %}

    {% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l12">
                <form action="/pokedex/filter" method="GET">
                    <div class="col s4 m4 l4">
                        <label for="normal">
                            <input name="type" id="normal" value="normal" type="checkbox" />
                            <span>Normal</span>
                        </label><br>
                        <label for="fire">
                            <input name="type" id="fire" value="fire" type="checkbox" />
                            <span>Fire</span>
                        </label><br>
                        <label for="water">
                            <input name="type" id="water" value="water" type="checkbox" />
                            <span>Water</span>
                        </label><br>
                        <label for="electric">
                            <input name="type" id="electric" value="electric" type="checkbox" />
                            <span>Electric</span>
                        </label><br>
                        <label for="grass">
                            <input name="type" id="grass" value="grass" type="checkbox" />
                            <span>Grass</span>
                        </label><br>
                        <label for="ice">
                            <input name="type" id="ice" value="ice" type="checkbox" />
                            <span>Ice</span>
                        </label><br>
                    </div>
                    <div class="col s4 m4 l4">
                        <label for="fighting">
                            <input name="type" id="fighting" value="fighting" type="checkbox" />
                            <span>Fighting</span>
                        </label><br>
                        <label for="poison">
                            <input name="type" id="poison" value="poison" type="checkbox" />
                            <span>Poison</span>
                        </label><br>
                        <label for="ground">
                            <input name="type" id="ground" value="ground" type="checkbox" />
                            <span>Ground</span>
                        </label><br>
                        <label for="flying">
                            <input name="type" id="flying" value="flying" type="checkbox" />
                            <span>Flying</span>
                        </label><br>
                        <label for="psychic">
                            <input name="type" id="psychic" value="psychic" type="checkbox" />
                            <span>Psychic</span>
                        </label><br>
                        <label for="bug">
                            <input name="type" id="bug" value="bug" type="checkbox" />
                            <span>Bug</span>
                        </label><br>
                    </div>
                    <div class="col s4 m4 l4">
                        <label for="rock">
                            <input name="type" id="rock" value="rock" type="checkbox" />
                            <span>Rock</span>
                        </label><br>
                        <label for="ghost">
                            <input name="type" id="ghost" value="ghost" type="checkbox" />
                            <span>Ghost</span>
                        </label><br>
                        <label for="dragon">
                            <input name="type" id="dragon" value="dragon" type="checkbox" />
                            <span>Dragon</span>
                        </label><br>
                        <label for="dark">
                            <input name="type" id="dark" value="dark" type="checkbox" />
                            <span>Dark</span>
                        </label><br>
                        <label for="steel">
                            <input name="type" id="steel" value="steel" type="checkbox" />
                            <span>Steel</span>
                        </label><br>
                        <label for="fairy">
                            <input name="type" id="fairy" value="fairy" type="checkbox" />
                            <span>Fairy</span>
                        </label><br>
                    </div>
                    <br>
                    <button type="submit" class="btn col s12 m12 l12">Filter</button>
            </div>
            </form>
        </div>
        <ul class="collection">
            {% for p in pokemon%}
            <a href="{% url 'info' p.id %}">
                <li class="grey lighten-2 collection-item">Name: {{p.name}} <br> Type:
                    {{p.pokemonType}}</li>
            </a>
            {% endfor %}
        </ul>
    </div>
    {% endblock %}
</body>

</html>
