<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pokedex</title>
</head>

<body>
    {% extends 'base.html' %}

    {% block content %}
    <div class="container">
        <div class="row">
            {% for p in pokemon%}
            <a href="{% url 'info' p.id %}">
                <div class="col l3 m4 s12 card">
                    <div>
                        <img class="col l12 m12 s12" src={{p.image}} alt={{p.name}}>
                    </div>
                    <p class="center-align">Name: {{p.name}}</p>
                    <p class="center-align">Type: {{p.pokemonType}}</p>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
    {% endblock %}
</body>

</html>
