{% extends 'base.html' %}

{% block title %}Pokedex | Home{% endblock title %}

{% block content %}


<div class="container">
    {% for p in pokemon%}
    <div class="hover-container">
        <a class="card" href="{% url 'info' p.id %}">
            <div>
                <img src={{p.image}} alt={{p.name}}>

                <p class="center-align">Name: {{p.name}}</p>
                <p class="center-align">Type: {{p.pokemonType}}</p>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}
